<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>July Market</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Basket)}" />

    <h2>Корзина покупателя</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Id</td>
            <td>Название</td>
            <td>Цена</td>
            <td>Категория</td>
            <td>Количество</td>
            <td>Удалить</td>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="products" type="java.util.List<com.geekbrains.hw4.model.Product>"*/-->
        <tr th:each="p : ${productsInBasket}">
            <!--/*@thymesVar id="product" type="com.geekbrains.hw4.model.Product"*/-->
            <td th:text="${p.product.id}"></td>
            <td th:text="${p.product.title}"></td>
            <td th:text="${p.product.price}"></td>
            <td th:text="${p.product.category.name}"></td>
            <td th:text="${p.count}"></td>
            <td><a th:href="@{'/basket/del/' + ${p.product.id}}" class="btn btn-warning">Удалить</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>